.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #daddel;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
